block variables
    - var title = 'Блог'
    - var name = 'Марков Максим'

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content=name name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='/assets/css/main.css')
        script(src='/assets/js/foundation.js' defer)
        script(src='/assets/js/app.min.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        .wrapper
            header.header.header__blog
                .header__top
                    .header__left
                       include ../common/_socials
                    .header__right
                       include ../common/_menu
                .header__hero
                    .about-dev__photo-wrap
                        img.about-dev__photo-img(src='assets/img/photo.jpg' alt=name)
                    .base-title.hero__title=title
                    .hero__text Статьи которые я написал
                    .header__blog-bg
                        +svg('header__blog-svg','blog_header')
                .header__triangle
                    a.header__link-arrow(href='#')
                        +svg('link_arrow-down','portf_arrow_down')
                    svg(xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1000 85"
                        preserveAspectRatio="none"
                        class="triangle-blog"
                        )
                        polygon(class="left" points="0,0   0,86   500.8,86   500.8,84.5")
                        polygon(class="right" points="1000,0   1000,86   500,86   500,84.5")
            section.blog
                .blog-wrap
                    .blog__left
                        .blog-nav
                            ul.blog-nav__list
                                li.blog-nav__item
                                    a.blog-nav__link.blog-nav__link-active(href="#") Самое важное в SASS
                                li.blog-nav__item
                                    a.blog-nav__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
                                li.blog-nav__item
                                    a.blog-nav__link(href="#") Самый необходимый набор Gulp плагинов
                                li.blog-nav__item
                                    a.blog-nav__link(href="#") Почему я выбрал Jade
                    .blog__right
                        ul.blog__list
                            li.blog__item
                                .blog__title Самое важное в SASS
                                .blog__data 17 января 2017
                                .blog__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                                        | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                                        | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                                    p
                                        | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                                        | Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                        | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            li.blog__item
                                .blog__title Самое важное в SASS
                                .blog__data 17 января 2017
                                .blog__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                                        | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                                        | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                                    p
                                        | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                                        | Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                        | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            li.blog__item
                                .blog__title Самое важное в SASS
                                .blog__data 17 января 2017
                                .blog__content
                                    p
                                        | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                                        | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                                        | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                        | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                                    p
                                        | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                                        | Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                        | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        include ../common/_footer